In [1]:
import pandas as pd
import numpy as np

### Q1. Pandas version
What's the version of Pandas that you installed?

You can get the version information using the `__version__` field:

In [2]:
pd.__version__

'2.2.2'

### Getting the data
For this homework, we'll use the Laptops Price dataset. Download it from here.

You can do it with wget:

```bash
wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv
```
Or just open it with your browser and click "Save as...".

Now read it with Pandas.

### Q2. Records count
How many records are in the dataset?

* 12
* 1000
* 2160
* 12160

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv")

In [4]:
df.shape[0]

2160

### Q3. Laptop brands
How many laptop brands are presented in the dataset?

* 12
* 27
* 28
* 2160

In [5]:
df.columns

Index(['Laptop', 'Status', 'Brand', 'Model', 'CPU', 'RAM', 'Storage',
       'Storage type', 'GPU', 'Screen', 'Touch', 'Final Price'],
      dtype='object')

In [6]:
df['Brand'].nunique()

27

### Q4. Missing values
How many columns in the dataset have missing values?

* 0
* 1
* 2
* 3

In [7]:
df.isnull().sum() > 0

Laptop          False
Status          False
Brand           False
Model           False
CPU             False
RAM             False
Storage         False
Storage type     True
GPU              True
Screen           True
Touch           False
Final Price     False
dtype: bool

In [8]:
(df.isnull().sum() > 0).sum()

3

### Q5. Maximum final price
What's the maximum final price of Dell notebooks in the dataset?

* 869
* 3691
* 3849
* 3936

In [9]:
df[df.Brand == 'Dell']['Final Price'].max()

3936.0

### Q6. Median value of Screen
1. Find the median value of `Screen` column in the dataset.
2. Next, calculate the most frequent value of the same `Screen` column.
3. Use `fillna` method to fill the missing values in `Screen` column with the most frequent value from the previous step.
4. Now, calculate the median value of `Screen` once again.

Has it changed?

Hint: refer to existing `mode` and `median` functions to complete the task.

* Yes
* No

In [10]:
df['Screen'].median()

15.6

In [11]:
# retrieve the mode value instead of a Pd Series object
mode = df['Screen'].mode().loc[0]
mode

15.6

In [12]:
df['Screen'] = df['Screen'].fillna(mode)

In [13]:
df['Screen'].median()

15.6

### Q7. Sum of weights
1. Select all the "Innjoo" laptops from the dataset.
2. Select only columns `RAM, Storage, Screen`.
3. Get the underlying NumPy array. Let's call it X.
4. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
5. Compute the inverse of XTX.
6. Create an array y with values [1100, 1300, 800, 900, 1000, 1100].
7. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
8. What's the sum of all the elements of the result?
Note: You just implemented linear regression. We'll talk about it in the next lesson.

* 0.43
* 45.29
* 45.58
* 91.30

In [14]:
X = df.loc[df['Brand']=='Innjoo', ['RAM', 'Storage', 'Screen']].to_numpy()

In [15]:
X

array([[  8. , 256. ,  15.6],
       [  8. , 512. ,  15.6],
       [  4. ,  64. ,  14.1],
       [  6. ,  64. ,  14.1],
       [  6. , 128. ,  14.1],
       [  6. , 128. ,  14.1]])

**NOTE**:
* X is (6,3) matrix, X.T is (3,6) matrix. Hence X.T @ X is (3,3) matrix

In [16]:
inverse_XTX = np.linalg.inv(X.T @ X)

In [17]:
inverse_XTX.shape

(3, 3)

In [18]:
y = np.array([1100, 1300, 800, 900, 1000, 1100])
y.shape

(6,)

In [19]:
(inverse_XTX @ X.T).shape

(3, 6)

In [20]:
w = (inverse_XTX @ X.T) @ y

In [21]:
w.shape

(3,)

In [22]:
w

array([45.58076606,  0.42783519, 45.29127938])

In [23]:
w.sum()

91.2998806299557